@import "../mixin.scss";

.stack {
  height: 100vh;
  width: 100%;
  border-radius: 0 0 5rem 5rem;
background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  z-index: 1;
  background-image: repeating-linear-gradient(135deg, rgba(79, 79, 79,0.01) 0px, rgba(79, 79, 79,0.01) 14px,rgba(94, 94, 94,0.01) 14px, rgba(94, 94, 94,0.01) 28px,rgba(109, 109, 109,0.01) 28px, rgba(109, 109, 109,0.01) 42px,rgba(124, 124, 124,0.01) 42px, rgba(124, 124, 124,0.01) 56px,rgba(139, 139, 139,0.01) 56px, rgba(139, 139, 139,0.01) 70px,rgba(154, 154, 154,0.01) 70px, rgba(154, 154, 154,0.01) 84px,rgba(169, 169, 169,0.01) 84px, rgba(169, 169, 169,0.01) 98px,rgba(184, 184, 184,0.01) 98px, rgba(184, 184, 184,0.01) 112px),repeating-linear-gradient(45deg, rgba(221, 221, 221,0.01) 0px, rgba(221, 221, 221,0.01) 14px,rgba(207, 207, 207,0.01) 14px, rgba(207, 207, 207,0.01) 28px,rgba(192, 192, 192,0.01) 28px, rgba(192, 192, 192,0.01) 42px,rgba(178, 178, 178,0.01) 42px, rgba(178, 178, 178,0.01) 56px,rgba(164, 164, 164,0.01) 56px, rgba(164, 164, 164,0.01) 70px,rgba(150, 150, 150,0.01) 70px, rgba(150, 150, 150,0.01) 84px,rgba(135, 135, 135,0.01) 84px, rgba(135, 135, 135,0.01) 98px,rgba(121, 121, 121,0.01) 98px, rgba(121, 121, 121,0.01) 112px),linear-gradient(90deg, #ffffff,#ffffff);
  @include respond-above(sm) {
    // Styles pour les appareils à partir de 600px

  }
  @include respond-above(md) {
    // Styles pour les appareils à partir de 900px
    border-radius: 0 0 9rem 9rem;


  }

  @include respond-above(lg) {
    // Styles pour les appareils à partir de 1200px
  }

  @include respond-above(xl) {
    // Styles pour les appareils à partir de 1920px
  }
  &__container {
    height: 20vh;
    display: flex;
    gap: 2rem;
    width: 100%;
   // animation: scroll 8s linear infinite;
    @include respond-above(sm) {
      // Styles pour les appareils à partir de 600px

    }
    @include respond-above(md) {
      // Styles pour les appareils à partir de 900px
      gap: 10rem;

    }

    @include respond-above(lg) {
      // Styles pour les appareils à partir de 1200px
    }

    @include respond-above(xl) {
      // Styles pour les appareils à partir de 1920px
    }
  }
  &__item {
    margin: auto 0;
    flex: 0 0 auto;

    width: calc(100% / 8); // Ajustez ce nombre en fonction du nombre d'éléments dans votre liste
    @include respond-above(sm) {
      // Styles pour les appareils à partir de 600px

    }
    @include respond-above(md) {
      // Styles pour les appareils à partir de 900px


    }

    @include respond-above(lg) {
      // Styles pour les appareils à partir de 1200px
    }

    @include respond-above(xl) {
      // Styles pour les appareils à partir de 1920px
    }
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: contain;
    @include respond-above(sm) {
      // Styles pour les appareils à partir de 600px

    }
    @include respond-above(md) {
      // Styles pour les appareils à partir de 900px


    }

    @include respond-above(lg) {
      // Styles pour les appareils à partir de 1200px
    }

    @include respond-above(xl) {
      // Styles pour les appareils à partir de 1920px
    }
  }
}


