@import "../mixin.scss";

.feedbacks {
  height: 180vh;
  width: 100%;
  border-radius: 5rem 5rem 0 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  font-family: 'Aileron', sans-serif;
  @include respond-above(sm) {
    // Styles pour les appareils à partir de 600px

  }

  @include respond-above(md) {
    // Styles pour les appareils à partir de 900px
    padding: 4rem;
    height: 80vh;
  }

  @include respond-above(lg) {
    // Styles pour les appareils à partir de 1200px
  }

  @include respond-above(xl) {
    // Styles pour les appareils à partir de 1920px
  }
  &__title {
   font-size: 2rem;
    color: #575757;
    font-weight: 600;
    @include respond-above(sm) {
      // Styles pour les appareils à partir de 600px

    }

    @include respond-above(md) {
      // Styles pour les appareils à partir de 900px

    }

    @include respond-above(lg) {
      // Styles pour les appareils à partir de 1200px
    }

    @include respond-above(xl) {
      // Styles pour les appareils à partir de 1920px
    }
  }
  &__cardsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    gap: 8rem;
    @include respond-above(sm) {
      // Styles pour les appareils à partir de 600px

    }

    @include respond-above(md) {
      // Styles pour les appareils à partir de 900px
      flex-direction: row;
     justify-content: center;

    }

    @include respond-above(lg) {
      // Styles pour les appareils à partir de 1200px
    }

    @include respond-above(xl) {
      // Styles pour les appareils à partir de 1920px
    }
  }
  &__card {
    width: 100%;
    color: #575757;
    @include respond-above(sm) {
      // Styles pour les appareils à partir de 600px

    }

    @include respond-above(md) {
      // Styles pour les appareils à partir de 900px
      width: 40%;
      height: 20rem;
    }

    @include respond-above(lg) {
      // Styles pour les appareils à partir de 1200px
    }

    @include respond-above(xl) {
      // Styles pour les appareils à partir de 1920px
    }

  }
  &__icon {
    height: 3rem;
    width: 3rem;
    margin-bottom: 2rem;
    color: #575757
  }
  &__boxAuthor {
    color: #575757;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
  }
}