@import "../mixin.scss";
.contact {
  position: absolute;
  bottom: -82rem;
  width: 100%;
  font-family: 'Aileron', sans-serif;
  background-color: #ffffff;
  z-index: 10;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 7rem 7rem 0 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #575757;

  @include respond-above(sm) {
    // Styles pour les appareils à partir de 600px

  }

  @include respond-above(md) {
    // Styles pour les appareils à partir de 900px
    bottom: -35rem;
    height: 720px;
    border-radius: 9rem 9rem 0 0;

    flex-direction: row;
    padding: 2rem 4rem;
  }

  @include respond-above(lg) {
    // Styles pour les appareils à partir de 1200px
  }

  @include respond-above(xl) {
    // Styles pour les appareils à partir de 1920px
  }
  &__card {
    width: 100%;
    height: 100%;
    border-radius: 6rem;
    padding: 2rem;
    box-shadow: none;
    border: none;
    @include respond-above(sm) {
      // Styles pour les appareils à partir de 600px

    }

    @include respond-above(md) {
      // Styles pour les appareils à partir de 900px
      width: 50%;
      border-radius: 7rem 2rem 2rem 2rem;
    }

    @include respond-above(lg) {
      // Styles pour les appareils à partir de 1200px
    }

    @include respond-above(xl) {
      // Styles pour les appareils à partir de 1920px
    }
  }
  &__boxTop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 4rem;
    width: 100%;
    @include respond-above(sm) {
      // Styles pour les appareils à partir de 600px

    }

    @include respond-above(md) {
      // Styles pour les appareils à partir de 900px

    }

    @include respond-above(lg) {
      // Styles pour les appareils à partir de 1200px
    }

    @include respond-above(xl) {
      // Styles pour les appareils à partir de 1920px
    }

  }
  &__icon {
    height: 3rem;
    width: 3rem;
    color: #575757;
    @include respond-above(sm) {
      // Styles pour les appareils à partir de 600px

    }

    @include respond-above(md) {
      // Styles pour les appareils à partir de 900px

    }

    @include respond-above(lg) {
      // Styles pour les appareils à partir de 1200px
    }

    @include respond-above(xl) {
      // Styles pour les appareils à partir de 1920px
    }

  }
  &__title {
    font-size: 1.2rem;
  }
  &__boxBottom {
    width: 100%;
    height: calc(100% - 4rem);

  }
}