@import "mixin";
.about {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  padding: 0.5rem 0.5rem 3rem 0.5rem;

  &__boxTop {


  }
  &__title {
    color: #6A6A6A;
    font-size: 2rem;
    font-family: 'CooperHewitt', sans-serif;
    font-weight: bold;
    //font-family: 'SFBold', sans-serif;
    margin-bottom: 2rem;
  }
  &__text {
    color: #6A6A6A;
    font-family: 'CooperHewitt', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
  }
  &__boxBottom {

  }
  &__image {
    border-radius: 0.5rem;
  }
}

@include mediumDevices {
  .about {
    padding: 7rem;
  }
}
@include bigDevices {
  .about {
    padding: 7rem;
    flex-direction: row;
    &__boxTop {
      width: 60%;
    }
    &__boxBottom {
      width: 40%;
      height: auto;
    }
    &__image {
      height: 100%;
      object-fit: cover;
    }
  }
}