@import "mixin";
.about {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  padding: 1rem 1rem 4rem 1rem;

  &__boxTop {


  }
  &__title {
    color: #6A6A6A;
    font-size: 2rem;
    font-family: 'SF pro', sans-serif;
    font-weight: bold;
    //font-family: 'SFBold', sans-serif;
    margin-bottom: 2rem;
  }
  &__text {
    color: #6A6A6A;
    //font-family: 'SFRegular', sans-serif;
    font-family: 'SF pro', sans-serif;
  }
  &__boxBottom {

  }
  &__image {
    border-radius: 0.5rem;
  }
}
@include smallDevices {
  .about {
    padding: 5rem;
  }
}
@include mediumDevices {
  .about {
    padding: 7rem;
  }
}
@include bigDevices {
  .about {
    padding: 7rem;
    flex-direction: row;
    &__boxTop {
      width: 60%;
    }
    &__boxBottom {
      width: 40%;
      height: auto;
    }
    &__image {
      height: 100%;
      object-fit: cover;
    }
  }
}