.contact {

  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 3rem;
  height: 100vh;
  position: relative;
  //z-index: -1;
  &__boxTop {
    //z-index: 1;
  }
  &__card {
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

  }
  &__title {
    color: #6A6A6A;
    font-size: 2rem;
    font-family: 'SFBold', sans-serif;
    margin-bottom: 2rem;
  }
  &__boxBottom {
    display: flex;
    gap: 1rem;

  }
  &__icon {
    color: #6A6A6A;

  }
  &__boxIcon {
    height: 3rem;
    width: 3rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(205, 205, 205, 0.62);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
}