@import "mixin";
.feedback {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  background-color: #F5F5F5;
  padding: 0.5rem 0.5rem 4rem 0.5rem;
  font-family: CooperHewitt, sans-serif;
  &__boxTop {

  }
  &__title {
    color: #6A6A6A;
    font-size: 2rem;

    font-weight: bold;
    margin-bottom: 2rem;
  }
  &__text {
    color: #6A6A6A;

  }
  &__textBold {
    color: #6A6A6A;

    font-weight: bold;
  }
  &__boxBottom {
width: 100%;
  }
}
.motionContainer {
  height: 35rem;
}


@include mediumDevices {
  .feedback {
    padding: 7rem;
  }
  .motionContainer {
    height: 25rem;
  }
}
@include bigDevices {
  .feedback {
    padding: 7rem;
  }
  .motionContainer {
   padding: 2rem;
  }
  .motionCard {
    padding: 1.5rem;
  }
}