@import "mixin";
.feedback {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  background-color: #F5F5F5;
  padding: 1rem;
  &__boxTop {

  }
  &__title {
    color: #6A6A6A;
    font-size: 2rem;
    //font-family: 'SFBold', sans-serif;
    font-family: 'SF pro', sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  &__text {
    color: #6A6A6A;
    //font-family: 'SFRegular', sans-serif;
    font-family: 'SF pro', sans-serif;
  }
  &__textBold {
    color: #6A6A6A;
    //font-family: 'SFBold', sans-serif;
    font-family: 'SF pro', sans-serif;
    font-weight: bold;
  }
  &__boxBottom {
width: 100%;
  }
}
.motionContainer {
  height: 35rem;
}

@include smallDevices {
  .feedback {
    padding: 5rem;
  }

}
@include mediumDevices {
  .feedback {
    padding: 7rem;
  }
  .motionContainer {
    height: 25rem;
  }
}
@include bigDevices {
  .feedback {
    padding: 7rem;
  }
  .motionContainer {
   padding: 2rem;
  }
  .motionCard {
    padding: 1.5rem;
  }
}