@font-face {
  font-family: 'SFRegular';
  src: url('/fonts/SFPRODISPLAYREGULAR.otf') format('opentype');
}
@font-face {
  font-family: 'SFMedium';
  src: url('/fonts/SFPRODISPLAYMEDIUM.otf') format('opentype');
}
@font-face {
  font-family: 'SFBold';
  src: url('/fonts/SFPRODISPLAYBOLD.otf') format('opentype');
}