@import "mixin";
@include veryBigDevices {
  main {
    background-color: #ffffff;
  }

}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'Aileron';
  src: url('../../public/Fonts/aileron/Aileron-UltraLightItalic.otf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('../../public/Fonts/aileron/Aileron-UltraLight.otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('../../public/Fonts/aileron/Aileron-ThinItalic.otf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('../../public/Fonts/aileron/Aileron-Thin.otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('../../public/Fonts/aileron/Aileron-SemiBoldItalic.otf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('../../public/Fonts/aileron/Aileron-SemiBold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('../../public/Fonts/aileron/Aileron-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('../../public/Fonts/aileron/Aileron-LightItalic.otf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('../../public/Fonts/aileron/Aileron-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('../../public/Fonts/aileron/Aileron-Italic.otf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('../../public/Fonts/aileron/Aileron-HeavyItalic.otf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('../../public/Fonts/aileron/Aileron-Heavy.otf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('../../public/Fonts/aileron/Aileron-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('../../public/Fonts/aileron/Aileron-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('../../public/Fonts/aileron/Aileron-BlackItalic.otf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url('../../public/Fonts/aileron/Aileron-Black.otf');
  font-weight: 900;
  font-style: normal;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}