@import "mixin";
.project {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 3rem ;
  &__boxTop {

  }
  &__title {
    color: #6A6A6A;
    font-size: 2rem;
    font-family: 'SFBold', sans-serif;
    margin-bottom: 2rem;

  }
  &__text {
    color: #6A6A6A;
    font-family: 'SFRegular', sans-serif;
  }
  &__boxBottom {

  }
}
.carousel {
  height: auto;
  width: 100%;
  &__content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;

  }
  &__item {
    height: 100%;
    width: 100%;
  }
}

.card {
  height: 32rem;
  width: 100%;

  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__header {
    padding: 0;
  }
  &__cover {
    border-radius: 0.5rem;
    height: 10rem;
    object-fit: cover;
  }
  &__description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__title {
    color: #6A6A6A;
    font-family: 'SFBold', sans-serif;
    @apply font-sf-bold
  }
  &__listItem {
    display: flex;
    gap: 1rem;
  }
  &__item {
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
  }
  &__text {
    color: #6A6A6A;
    font-family: 'SFRegular', sans-serif;
  }
}
@include smallDevices {
  .project {
    padding: 5rem;
  }
  .card {
    height: 32rem;
    width: 18rem;
  }
  .carousel {

    &__content {
      width: 95%;
    }
    &__item {
      height: 100%;
      width: 100%;
    }
  }
}
@include mediumDevices {
  .project {
    padding: 7rem 0 7rem 7rem;
  }
  .carousel {

    &__content {
      width: 70%;
    }
    &__item {
      height: 100%;
      width: 100%;
    }
  }

}
@include bigDevices {
  .project {
    padding: 7rem 0 7rem 7rem;
    height: 100vh;
    &__boxBottom {
      height: auto;
      width: 100%;
    }
  }

  .carousel {
    height: 100%;
    &__content {
      width: 55%;

    }
    &__item {
      width: 50%;
    }

  }

}