@import "../mixin.scss";
.home {
  height: 80vh;
  background-color: #bfbfbf;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 7rem 7rem;
  z-index: 2;
  background-image: repeating-radial-gradient(circle at center center, transparent 0px, transparent 13px,rgba(0,0,0,0.03) 13px, rgba(0,0,0,0.03) 24px,transparent 24px, transparent 62px,rgba(0,0,0,0.03) 62px, rgba(0,0,0,0.03) 96px),repeating-radial-gradient(circle at center center, rgb(255,255,255) 0px, rgb(255,255,255) 14px,rgb(255,255,255) 14px, rgb(255,255,255) 18px,rgb(255,255,255) 18px, rgb(255,255,255) 28px,rgb(255,255,255) 28px, rgb(255,255,255) 32px); background-size: 21px 21px;
  @include respond-above(sm) {
    // Styles pour les appareils à partir de 600px

  }
  @include respond-above(md) {
    // Styles pour les appareils à partir de 900px
    border-radius: 0 0 10rem 10rem;

  }

  @include respond-above(lg) {
    // Styles pour les appareils à partir de 1200px
  }

  @include respond-above(xl) {
    // Styles pour les appareils à partir de 1920px
  }
  &__container {
    width: 650px;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    @include respond-above(sm) {
      // Styles pour les appareils à partir de 600px

    }
    @include respond-above(md) {
      // Styles pour les appareils à partir de 900px
      gap: 1rem;

    }

    @include respond-above(lg) {
      // Styles pour les appareils à partir de 1200px
    }

    @include respond-above(xl) {
      // Styles pour les appareils à partir de 1920px
    }
  }
  &__boxAvatar {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


  }
  &__avatar {
    height: 9rem;
    width: 9rem;
    border: 3px solid white;
  }
  &__boxContent {

    width: 100%;
    @include respond-above(sm) {
      // Styles pour les appareils à partir de 600px

    }
    @include respond-above(md) {
      // Styles pour les appareils à partir de 900px
      flex: 1;

    }

    @include respond-above(lg) {
      // Styles pour les appareils à partir de 1200px
    }

    @include respond-above(xl) {
      // Styles pour les appareils à partir de 1920px
    }


  }
  &__title {
    color: #575757;
    font-family: 'Aileron', sans-serif;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    font-style: normal;

    width: 100%;
    @include respond-above(sm) {
      // Styles pour les appareils à partir de 600px

    }
    @include respond-above(md) {
      // Styles pour les appareils à partir de 900px
      font-size: 56px;
      line-height: 4rem;

    }

    @include respond-above(lg) {
      // Styles pour les appareils à partir de 1200px
    }

    @include respond-above(xl) {
      // Styles pour les appareils à partir de 1920px
    }


  }
  &__action{
    height: 4rem;
    width: 10rem;
    border-radius: 2rem;

  }
}