@import "../../../mixin.scss";
.canvas__container {
  height: 15rem;
  width: 15rem;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  z-index: 2;
  //border: 1px solid black;
}

@include bigDevices {
  .canvas__container {
    height: 30rem;
    width: 30rem;
  }
}